<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render 'shared/head' %>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
  </head>

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

      <div class="container mt-4 mx-auto">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
